:root {
  --gothic-font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "Hiragino Sans", "Yu Gothic UI", "Yu Gothic", "Noto Sans JP",
    "Noto Sans CJK JP", "Helvetica Neue", "Helvetica", "Arial", "Segoe UI", "メイリオ", "Meiryo",
    sans-serif;
  --mincho-font-family:
    "游明朝", "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGS明朝E",
    "MS PMincho", "Georgia", "Times New Roman", "serif";
}

html {
  font-family: var(--gothic-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

button,
input,
select,
textarea {
  font-family: inherit !important;
}

.gothic {
  font-family: var(--gothic-font-family);
}

.mincho {
  font-family: var(--mincho-font-family);
}
