name: Test

permissions:
  contents: read

on:
  push:
    branches: [main, "support-*"]
  pull_request:
    branches: [main, "support-*"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"
      - run: npm version
      - run: npm ci
      - run: npm run lint
      - run: npm run docs
      - run: git diff --exit-code
      - run: npm run license
      - run: npm run coverage
      - uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        with:
          files: ./coverage/clover.xml
          token: ${{ secrets.CODECOV_TOKEN }}
